<div class="container">
  <h2>Employee Registration</h2>
  <form (ngSubmit)="onSubmit(employee)" #employeeForm="ngForm">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" id="id" name="id" [(ngModel)]="employee.id" required />
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="employee.name"
        required
      />
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input
        type="number"
        id="age"
        name="age"
        [(ngModel)]="employee.age"
        required
      />
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <input
        type="text"
        id="department"
        name="department"
        [(ngModel)]="employee.department"
        required
      />
    </div>
    <div class="form-group">
      <label for="role">Role:</label>
      <input
        type="text"
        id="role"
        name="role"
        [(ngModel)]="employee.role"
        required
      />
    </div>
    <button type="submit">Register</button>
  </form>
</div>
